.glyphicon-star{
    font-size: 25px;
}

.slide-image{
    width: 100%;
}

h1.title {
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.product-image-wrapper{
    border:1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom:30px;
}

.single-products {
    position: relative;
}

.product-overlay {
    background:#FE980F;
    top: 0;
    display: none;
    height: 0;
    position: absolute;
    transition: height 500ms ease 0s;
    width: 100%;
    display: block;
    opacity:;
}

.single-products:hover .product-overlay {
    display:block;
    height:100%;
}

.product-overlay .overlay-content {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.space_header {
    height: 40px;
}